:root {
    --primary-color: #000000;
    --secondary-color: #1E88E5;
    --white-color: #ffffff;
    --light-black-color: #00000066;
    --light-gray-color: #f4f4f4;
    --danger-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--light-gray-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-white {
    color: var(--white-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.d-flex {
  display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.border-r-m {
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .text-h1 {
        font-size: 1rem;
    }
    .justify-sm-center {
        justify-content: center;
    }

    .align-sm-center {
        align-items: center;
    }
}
