* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

:root {
  --primary-color: #5E35B2;
  --secondary-color: #1E88E5;
  --white-color: #ffffff;
  --black-color: #000000;
}

.text-white {
    color: var(--white-color);
}

.d-flex {
  display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}
